@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
  margin: 0%;
}

#sidebar {
  width: 10%;
}

ul {
  list-style:none;
}

li {
  margin: auto;
}

#content {
  margin-top: 0%;
}
